body {
    font-family: "Times New Roman", Georgia, Serif, serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    letter-spacing: 5px;
}

#about, #project-types, #classify-project {
    min-height: 100vh;
}

.project-types > a {
    cursor: pointer;
    text-decoration: none;
}

.section-image {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.section-image-source {
    display: flex;
    justify-content: flex-end;
}

table th, table td {
    vertical-align: text-top;
}

.characteristics-diagrams {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characteristics-table, .characteristics-image {
    width: 500px;
}

.characteristics-table th, .characteristics-table td {
    min-width: 50px;
    text-align: center;
}

.characteristics-table td:first-child, .risks-table th {
    text-align: left;
}

.stakeholders-table td:first-child  {
    width: 180px;
}

.risks-table td:first-child {
    width: 50%;
}
