body {
    font-family: "Times New Roman", Georgia, Serif, serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    letter-spacing: 5px;
}

h1 {
    font-size: 46px;
}

h2 {
   font-size: 40px;
}

h3 {
    text-decoration: underline;
    padding-top: 55px;
    font-size: 34px;
}

h4 {
    font-size: 25px;
}

#about, #project-definition, #project-types, #classify-project {
    min-height: 100vh;
}

.project-types > a {
    cursor: pointer;
    text-decoration: none;
}

.section-image {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.section-image-source {
    display: flex;
    justify-content: flex-end;
}

table th, table td {
    vertical-align: text-top;
}

.characteristics-diagrams {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characteristics-table, .characteristics-image {
    margin-bottom: 24px;
    border-collapse: collapse;
    width: 500px;
}

.characteristics-table th, .characteristics-table td {
    min-width: 50px;
    text-align: center;
}

.characteristics-table td:first-child, .risks-table th {
    text-align: left;
}

.characteristics-table tr th, .characteristics-table tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
}

.characteristics-table th:not(:last-child), .characteristics-table td:not(:last-child) {
    border-right: 1px solid #ddd;
}

.stakeholders-table td:first-child  {
    width: 180px;
}

.risks-table td:first-child {
    width: 50%;
}

.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
